{{define "yield"}}
    <div class="about-bg">
      <img class="profile-pic" src="/assets/profile_pic.jpg"/>
      <div class="about-text-bg">
        <p>My name is James and I'm a software developer.</p>
      </div>
    </div>
{{end}}