{{define "yield"}}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-primary">
        <div class="panel-body ">
          <h1>Have a question?</h1>
          <p>Reach out to 
            <a href="mailto:jgsheppa@protonmail.com">jgsheppa@protonmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
 
{{end}}