{{define "yield"}}
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h1 class="card-title">Schnup is a website about nothing. Register below</h1>
      <div style="display: flex; align-items: center; justify-content: center; margin-top: 1rem">
        <a href="/register" class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
  
{{end}}